<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>create</title>
</head>
<body>
<center>
    <form th:object="${employee}" method="post" enctype="multipart/form-data">
        <table>
            <td>name:<input th:field="*{name}"></td>
            <td>age: <input th:field="*{age}"></td>
            <td>salary:<input th:field="*{salary}"></td>
            <!--            <td><input th:field="*{age}"></td>-->
            <!--            <td><input type="file" name="upImg"></td>-->
            <!--        <td><input th:field="*{}"></td>-->
            <td>
                <select name="idBranch">
                    <option th:each="b: ${branch}" th:text="${b.nameBranch}" th:value="${b.idBranch}">choice branch
                    </option>
                </select>
            </td>
        </table>
        <button type="submit">Create</button>
    </form>
</center>
</body>
</html>
