<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>create</title>
</head>
<body>
<form th:object="${student}" method="post" enctype="multipart/form-data">
    <table>
        <td><input th:field="*{name}"></td>
        <td><input th:field="*{phoneNumber}"></td>
        <td><input type="file" name="upImg"></td>
<!--        <td><input th:field="*{}"></td>-->
        <td>
            <select name="idClassZoom">
                <option th:each="c: ${classRoom}" th:text="${c.className}" th:value="${c.id}">choice class</option>
            </select>
        </td>
    </table>
    <button type="submit">Create</button>
</form>
</body>
</html>
x
