<!DOCTYPE html>
<!--<html lang="en">-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>create</title>
</head>
<body>
<form action="/create" method="post" th:object="${product}">
    <table>
        <tr>
            <td>name: <input th:field="*{name}"></td>
            <br>
            <td>img link:<input th:field="*{img}"></td>
            <!--            <td><input th:field="*{status}"></td>-->
            <!--            <td>-->
            <!--                <select name="idCategory">-->
            <!--                    <option th:each="c : ${category}" th:value="${c.id}" th:text="${c.name}"></option>-->
            <!--                </select>-->
            <!--            </td>-->
            <td>
                <button type="submit">Create</button>
            </td>
        </tr>
    </table>
</form>
</body>
</html>
