<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>create</title>
</head>
<body>
<center>
    <h1>create new student</h1>
    <form action="/create" method="post">
        <table border="2">
            <tr>
                <th>student name</th>
                <th>student age</th>
                <th>phone number</th>
                <th>email</th>
                <th>class room</th>
                <th>avatar</th>
            </tr>
            <tr th:object="${student}">
                <td><input th:field="*{studentName}"></td>
                <td><input th:field="*{age}"></td>
                <td><input th:field="*{phoneNumber}"></td>
                <td><input th:field="*{email}"></td>
                <td>
                    <select th:field="*{classRoom}">
                        <option th:each="c : ${classRoom}" th:text="${c.className}" th:value="${c.idClass}"></option>
                    </select>
                </td>

            </tr>

        </table>
    </form>
</center>
</body>
</html>
